@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");
@import "tailwindcss";
@theme {
  --font-display: "Capriola", sans-serif;
  --text-big: 2em;
  --color-black: #000000;
}
